[Unit]
Description=Servicio de Monitoreo de Cambios en Directorios
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/jgomezc145/Desktop/ejercicio3.sh ./carpeta1/
WorkingDirectory=/home/jgomezc145/Desktop/
Restart=always

[Install]
WantedBy=multi-user.target
